@{
    ViewData["Title"] = "Checkout";
}
@model Codecool.CodecoolShop.Models.UserDataToCheck
<div class="container">

    <form asp-action="Checkout" asp-controller="Product">
        <div style="position: relative; left: 10%;">

            <div class="col-lg-3 col-lg-3" style="display: inline-block;">
                <p>PERSONAL DATA</p>
                <label asp-for="FirstName"></label><br/>
                <input asp-for="FirstName" placeholder="First Name"/><br/>
                <label asp-for="LastName"></label><br/>
                <input asp-for="LastName" placeholder="Last Name"/><br/>
                <label asp-for="Email"></label><br/>
                <input asp-for="Email" placeholder="Email"/><br/>
                <label asp-for="PhoneNumber"></label><br/>
                <input asp-for="PhoneNumber" placeholder="Phone Number"/><br/>
            </div>
            <div class="col-lg-3 col-lg-3" style="display: inline-block;">
                <p>BILLING ADDRESS</p>
                <label asp-for="BillingCountry"></label><br/>
                <input asp-for="BillingCountry" placeholder="Country"/><br/>
                <label asp-for="BillingCity"></label><br/>
                <input asp-for="BillingCity" placeholder="City"/><br/>
                <label asp-for="BillingZip"></label><br/>
                <input asp-for="BillingZip" placeholder="ZipCode"/><br/>
                <label asp-for="BillingAddress"></label><br/>
                <input asp-for="BillingAddress" placeholder="Address"/><br/>
            </div>
            <div class="col-lg-3 col-lg-3" style="display: inline-block;">
                <p>SHIPPING ADDRESS</p>
                <label asp-for="ShippingCountry"></label><br/>
                <input asp-for="ShippingCountry" placeholder="Country"/><br/>
                <label asp-for="ShippingCity"></label><br/>
                <input asp-for="ShippingCity" placeholder="City"/><br/>
                <label asp-for="ShippingZip"></label><br/>
                <input asp-for="ShippingZip" placeholder="ZipCode"/><br/>
                <label asp-for="ShippingAddress"></label><br/>
                <input asp-for="ShippingAddress" placeholder="Address" /><br />
            </div>
            <br />
            <input style="position: absolute; left: 30%; bottom: -10%" type="submit" value="Go to Payment"/><br>
        </div>
    </form>


</div>
