@model Codecool.CodecoolShop.Models.User

@{
    ViewData["Title"] = "ShoppingCart";
    decimal cartValue = 0 ;
    
}
<h1>@ViewData["Title"]</h1>


    @foreach (var item in Model.ShoppingCart)
    {
        cartValue += item.DefaultPrice;
        <div>
            <div class="img-container">
                <img src="../img/@(item.Name).jpg"/>
            </div>
            @item.ProductCategory
            @item.Name
            @item.Description
        </div>
    }

<p>Total cart value @cartValue$</p>
<a asp-controller="Product" asp-action="Checkout">Checkout</a>
